.pm1-bar{
    z-index: 999;
}

.pm1-top-sub{
    width: 1000px;
    position: absolute;
    top: 100px;

}

。.pm1-top-sub div{
    display: inline-block;
    width: 50px;
    color: #B0B0B0;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pm1-left{
    width: 320rem;
    height: 750rem;
    margin-left: 200rem;
    margin-top: -200rem;
    box-shadow: 4rem 4rem 30rem lightgrey,-4rem 4rem 30rem lightgrey,4rem -4rem 30rem lightgrey,-4rem -4rem 30rem lightgrey;
}

.pm1-side{
    width:200rem;
    height:60rem;
    margin-left: 30rem;
    margin-bottom: 100rem;
    margin-top: -80rem;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    z-index: 9999;
    border-radius: 200rem;
    color: #000;
    font-size: 23rem;
    font-style: normal;
    font-weight: 700;
    line-height: 36rem; /* 136.364% */
}

.pm1-message p{
    width: 140rem;
    font-weight: bold;
    font-size: 18rem;
    float: left;
}

.pm1-message{
    width: 280rem;
    margin-left: 30rem;
}

.pm1-right-part{
    width: 1200rem;
    height: 300rem;
    margin-bottom: 50rem;
    box-shadow: 4rem 4rem 30rem lightgrey,-4rem 4rem 30rem lightgrey,4rem -4rem 30rem lightgrey,-4rem -4rem 30rem lightgrey;
}

.pm1-right{
    width: 1431rem;
    height: 1250rem;
    flex-shrink: 0;
    margin-left: 563rem;
    margin-top: -490rem;
    border-radius: 20rem;
    background: #FFF;
    box-shadow: 0 0 61rem 0 rgba(0, 0, 0, 0.25);
}

.pm1-right-top{
    width: 1431px;
    height: 100px;
    border-radius: 20px 20px 0 0;
    background: #32A0D7;
}

.pm1-right-top-title{
    width: 200rem;
    height: 100rem;
    margin-left: 40rem;
    padding-top: 25rem;
    color: #FFF;
    font-size: 27rem;
    font-style: normal;
    font-weight: 700;
    line-height: 37rem; /* 136.377% */
}

.pm1-right-main{
    width: 1183rem;
    height: 220rem;
    margin: 70rem auto auto;
    flex-shrink: 0;
    border-radius: 20rem;
    background: #FFF;
    box-shadow: 0 0 20rem 0 rgba(0, 0, 0, 0.25);
}

.pm1-right-main-title{
    color: #000;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px; /* 136.377% */
    width: 400rem;
    height: 100rem;
    position: absolute;
    margin-top: 45rem;
    margin-left: 50rem;
}

.pm1-right-main-bnt{
    width: 120px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #DA2020;
    position: absolute;
    margin-top: 35rem;
    margin-left: 250rem;
    color: #FFF;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px; /* 136.377% */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.pm1-right-main-subtitle{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 37px; /* 152.799% */
    position: absolute;
    margin-top: 135rem;
    margin-left: 50rem;
}
