.pm4-bar{
    z-index: 999;
}

.pm4-left{
    width: 320rem;
    height: 750rem;
    margin-left: 200rem;
    margin-top: -200rem;
    box-shadow: 4rem 4rem 30rem lightgrey,-4rem 4rem 30rem lightgrey,4rem -4rem 30rem lightgrey,-4rem -4rem 30rem lightgrey;
}

.pm4-side{
    width:200rem;
    height:60rem;
    margin-left: 30rem;
    margin-bottom: 100rem;
    margin-top: -80rem;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    z-index: 9999;
    border-radius: 200rem;
    color: #000;
    font-size: 23rem;
    font-style: normal;
    font-weight: 700;
    line-height: 36rem; /* 136.364% */
}

.pm4-message p{
    width: 140rem;
    font-weight: bold;
    font-size: 18rem;
    float: left;
}

.pm4-message{
    width: 280rem;
    margin-left: 30rem;
}

.pm4-right{
    float: left;
    width: 1200px;
    margin-left: 700px;
    margin-top: -500px;
}

