.pm2-bar{
    z-index: 999;
}

.pm2-left{
    width: 320rem;
    height: 750rem;
    margin-left: 200rem;
    margin-top: -200rem;
    box-shadow: 4rem 4rem 30rem lightgrey,-4rem 4rem 30rem lightgrey,4rem -4rem 30rem lightgrey,-4rem -4rem 30rem lightgrey;
}

.pm2-side{
    width:200rem;
    height:60rem;
    margin-left: 30rem;
    margin-bottom: 100rem;
    margin-top: -80rem;
    position: absolute;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    z-index: 9999;
    border-radius: 200rem;
    color: #000;
    font-size: 23rem;
    font-style: normal;
    font-weight: 700;
    line-height: 36rem; /* 136.364% */
}

.pm2-message p{
    width: 140rem;
    font-weight: bold;
    font-size: 18rem;
    float: left;
}

.pm2-message{
    width: 280rem;
    margin-left: 30rem;
}

.pm2-right{
    width: 1300px;
    height: 1250px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.25);
    margin-left: 600px;
    margin-top: -480px;
}

.pm2-right-title{
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #000;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px; /* 100% */
}

.pm2-right-main-card{
    width: 300px;
    height: 300px;
    margin-left: 70px;
    flex-shrink: 0;
    background: url('./img/card.png');
    background-size: 300px 300px;
    box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.25);
}

.pm2-right-main-card2{
    position: absolute;
    z-index: 999;
    margin-top: 258px;
    margin-left: 0;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pm2-right-main-card3{
    width: 300px;
    height: 76px;
    margin-left: 70px;
    padding-top: 10px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0 0 61px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align:center;
}
